body {
	color:red;
	font-family: 'Orbitron', sans-serif;
}

#clock {
	margin: 0px auto;
	background-color:#212526;
	text-align:center;
	border-radius:5px;
	width:600px; 
	height:275px;
}
#clock h1 {
	padding-top:50px; 
	font-size:50px;
	margin-left:10px;
	display:inline-block;
}

#clock p {
	font-size:20px;
	color:white;
}
